<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Url Shortner</title>
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <div class="container">
      <h2>URL Shortner</h2>
      <form action="/" method="post">
        <div>
          <label for="url">Url:</label>
          <input type="url" name="url" id="url" required />
        </div>
        <div>
          <label for="shortCode">Shorten Url:</label>
          <input type="text" name="shortCode" id="shortCode" />
        </div>
        <button type="submit">Shorten</button>
      </form>
      <h2>Shortend Urls</h2>
      <ul>
        <!-- {{ shortened_urls }} -->
        <!--  const content = file.toString().replaceAll(
          "{{ shortened_urls }}",
          Object.entries(links)
            .map(
              ([shortCode, url]) =>
                `<li><a href="/${shortCode}" target="_blank">${host}/${shortCode}</a> - ${url}</li>`
            )
            .join("")
        ); -->
      </ul>
      <% links.map(({shortCode, url}) => { %> <% const truncatedUrl = url.length
      >= 30 ? `${url.slice(0, 30)}...` : url %>
      <li>
        <a href="/<%= shortCode%>" target="_blank">
          <%=host %>/ <%= shortCode%>
        </a>
        - <%= truncatedUrl %>
      </li>
      <% }) %>
    </div>
    <!-- <script>
      const fetchShortendUrl = async () => {
        const response = await fetch("/links");
        const links = await response.json();

        const list = document.getElementById("shortend-urls");
        list.innerHTML = "";

        for (const [shortCode, url] of Object.entries(links)) {
          const li = document.createElement("li");
          const truncatedUrl =
            url.length >= 30 ? `${url.slice(0, 35)}...` : url;
          li.innerHTML = `<a href="/${shortCode}" target="_blank">${window.location.origin}/${shortCode}</a> - ${truncatedUrl}`;
          list.appendChild(li);
        }
      };
      document
        .getElementById("shorten-form")
        .addEventListener("submit", async (e) => {
          e.preventDefault();

          const formData = new FormData(event.target);
          const url = formData.get("url");
          const shortCode = formData.get("shortCode");

          try {
            const reponse = await fetch("/shorten", {
              method: "POST",
              headers: { "Content-Type": "application/json" },
              body: JSON.stringify({ url, shortCode }),
            });
            if (reponse.ok) {
              alert("Form Submitted Successfully!");
              e.target.reset();
            } else {
              const errorMessage = await reponse.text();
              alert(errorMessage);
            }
          } catch (error) {
            console.error(error);
          }
        });

      fetchShortendUrl();
    </script> -->
  </body>
</html>
